.container {
  padding: 40px;
  display:flex;
  border: 18px;
  border-radius: .5%;
  background-color:rgb(228, 228, 228);
  border: 16px solid transparent;
  border-image: linear-gradient(to bottom,rgb(255, 184, 236), rgb(8, 3, 6)) 30;
}