.box {
  text-align: center;
  display:flex;
  justify-content: center;
  background-color: black;
  float: right;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  display:inline-block;
  justify-content: center;
}

.dropZone {
  position: relative;
  display: flex;
  /* background-color: white; */
  border-radius: 2px;
  margin-right:10px;
  padding: 10px;
  width:100%;
  /* border: 1px solid white;
  box-shadow:  -1px 1px white,
       -2px 2px white,
       -3px 3px white,
       -4px 4px white,
       -5px 5px white; */
}

.tabsTitle {
  display:flex;
  left: 20%;
  top: 3px;
  margin-bottom: 10px;
  justify-content: center;
  color: white;
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   */
}

.table {
  text-align: center;
  width: 41.4%;
}

.tabs > li {
  padding: 0.5em 1em;
  margin: 0 1em; 
  margin-bottom: 8px;
  /* background-image: linear-gradient(
    -225deg,
    #ac32d4 0%,
    #7918f2 48%,
    #4801ff 100%
  ); */
  background-color: black;
  /* increase inner container space or remove transition*/
  /* consider differentiating between styles based on whether on click event has occurred vs hover*/
  transition: transform 210ms;
  text-align: center; 
  border: 1px solid white;
  color: white;
  position: relative;
  box-shadow:  -1px 1px white,
       -2px 2px white,
       -3px 3px white,
       -4px 4px white,
       -5px 5px white;
   /* https://github.com/atlassian/react-beautiful-dnd/issues/128 */
}

.tabs > li:hover {
  transform: scale(1.2);

  border: 1px solid white;
  position: relative;
  box-shadow:  -1px 1px white,
       -2px 2px white,
       -3px 3px white,
       -4px 4px white,
       -5px 5px white;
}

.backlog {
  background-color:white;
  z-index:2;
  color: black;
}

.current {
  background-color: white;
  border: 1px solid black;
  z-index:100;
  color: #77aaff;
  box-shadow:  -1px 1px black,
       -2px 2px black,
       -3px 3px black,
       -4px 4px black,
       -5px 5px black;
       
}

.content {
  padding: 1em 2em;
}

.links {
  text-decoration: none;
  color: inherit;
}
.links:hover {
  color: 77aaff;
}