

.songs {
  background-color: black;
  position: absolute;
  left:7%;
  bottom: 5%;
}

/* .song_check_input {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  padding: 10px;
  appearance: none;
  background-color: red;
  margin-bottom: -6px;
  margin-right: 10px;
  margin-left: 10px;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 3px solid currentColor;
  border-radius: 0.10em;
  transform: translateY(-0.075em);
  transition: 80ms transform ease-in-out;
  background-image: linear-gradient(
  -225deg,
  #ac32d4 0%,
  #7918f2 48%,
  #4801ff 100%
);
} */

.song_check_label {
  font-size: 21px;
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  background-color: white;
}

.song_checks {
  /* box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  padding: 10px;
  appearance: none;
  background-color: white;
  margin-bottom: -6px;
  margin-right: 10px;
  margin-left: 10px;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 3px solid currentColor;
  border-radius: 0.10em;
  transform: translateY(-0.075em);
  transition: 80ms transform ease-in-out;
 */


  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  margin-left: 5px;
  background-color: none;
  font-family: Arial;
  font-size: 18px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;


  /* margin-left: 50px;
  background-color: white;
  font-family: Arial;
  font-size: 21px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px; */
}

.song_checks input {
  padding: 10px;
  appearance:none;
  background-color: white;
  margin-bottom: -6px;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 3px solid black;
  border-radius: 0.10em;
  transform: translateY(-0.075em);
  /* place-content: left; */
  transition: 80ms transform ease-in-out;
}

.song_checks input:hover {
  background-image: linear-gradient(
    -225deg,
    #ac32d4 0%,
    #7918f2 48%,
    #4801ff 100%
  );}

.song_checks input:checked::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.song_checks input:checked {
  background-image: linear-gradient(
    -225deg,
    #ac32d4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  
  transition: 135ms transform ease-in-out;
  border: 3px solid black;

  transform: scale(.7)
}

.submit_button {
  align-items: center;
  /* left:10.5%; */
  top:18%;
  /* background-color: rgb(72, 0, 255); */
  background-image: linear-gradient(
    -225deg,
    #ac32d4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  border: 3px solid #111;
  border-radius: 3px;
  /* box-sizing: border-box; */
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit_button:after {
  background-color: #111;
  border-radius: 3px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  top: -2.6px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  position: absolute;
  z-index:-1;
}

.submit_button:hover::after {
  transform: translate(0, 0);
}
.submit_button:active {
  background-color: #ffdeda;
  outline: 0;
}

.submit_button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .submit_button {
    padding: 0 40px;
  }
}

.song_checks label {
  background-color: none;
  padding-left: 10px;
}

.song_form_group {  
  color: #fff;
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  background-color: black;
}

.song_form {
  position: relative;
  border-radius: 5px;
  padding: 3px;
  background-color:black;
  float: left;
}

.song_body {
  overflow: scroll;
  overflow-x:hidden;
  background-color: black;
}

.song_body::-webkit-scrollbar-track {
  border-radius: 3px;
  margin-left: 4.5px;
  margin-left: 4.5px;

  border: 1px solid none;
  width: 40px;
} 

.song_body::-webkit-scrollbar {
  width: 30px;
  background-color: black;
  border-radius: 3px;
}
.song_body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  
  background-image: linear-gradient(
    -225deg,
    #ac32d4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  /* border: 5px solid blue; */
  height:30px;
}

/**title**/
/* .song_search_title {
  background-color: orange;
  margin-bottom: 32px;
  border: 2px solid white;
  box-shadow:  -1px 1px white,
       -2px 2px white,
       -3px 3px white,
       -4px 4px white,
       -5px 5px white;
  margin-top: 30px;
  width:80%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left:10%;
  font-weight: 545;
  font-size: 40px;
} */

